{ 
    "group":"{{ group_name }}",
    "severity":"{{ severity }}",
    "keys":{ 
        "_instance_id":"{{ instance_id }}", 
        "element_name":"{{ element_name }}",
        "_playbook_name":"{{ playbook_name }}"
    },
    "device-id":"{{ device_id }}",
    "rule":"{{ rule }}",
    "topic":"{{ topic }}",
    "trigger":"{{ trigger }}",
    "message":"{{ message }}"
}